

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/vnd.icon" href="{{ asset('assets/img/favicon.ico') }}" />
    <link rel="apple-touch-icon" type="image/vnd.icon" href="{{ asset('assets/img/favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profil - Garage Parrot</title>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>



<nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img style="width: 100px;" class="rounded img-fluid fit-cover mx-2" src="{{ asset('assets/img/logo.png') }}" style="height: 250px;margin-bottom: 10px;"><span>Garage Parrot</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link " href="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                <li class="nav-item"><a class="nav-link " href="/occasions">Occasions</a></li>
                <li class="nav-item"><a class="nav-link " href="/avis">Avis</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
            {% if app.user %}
                <a class="btn btn-primary py-2 px-3 shadow" role="button" href="#">{{ app.user.prenom }} {{ app.user.nom }} {% if is_granted('ROLE_ADMIN') %}<br/><span style="font-size: 0.8rem">Administrateur</span>{% elseif is_granted('ROLE_EMPLOYEE') %}<br/><span style="font-size: 0.8rem">Employé</span>{% endif %}</a>
            {% else %}
                <a class="btn btn-primary py-2 px-3 shadow" role="button" href="/login">Connexion</a>
            {% endif %}
        </div>
    </div>
</nav>
<section>
    <div class="container py-5">
        <div>
            <div>
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('danger') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('warning') %}
                    <div class="alert alert-warning">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if app.user %}
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold ">Bonjour, {{ app.user.prenom }} {{ app.user.nom }}</h2>
                <h6 class="fw-bold my-3">Compte {% if is_granted('ROLE_ADMIN') %}administrateur{% else %}employé{% endif %}</h6>
                <a class="btn btn-primary" href="/logout" >Se déconnecter</a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h5 class="fw-bold my-5">Vos fonctions en tant qu'{% if is_granted('ROLE_ADMIN') %}administrateur{% else %}employé{% endif %}</h5>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Services</h2>
                            <h6 class="fw-bold my-3">Ajouter, modifier ou supprimer un service</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <a class="btn btn-primary" href="/services" >Administrer les services</a>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Véhicules</h2>
                            <h6 class="fw-bold my-3">Ajouter, modifier ou supprimer un véhicule d'occasion</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <a class="btn btn-primary" href="/occasions" >Administrer les véhicules</a>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Avis</h2>
                            <h6 class="fw-bold my-3">Accepter ou refuser les nouveaux avis</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <a class="btn btn-primary" href="/avis" >Administrer les avis</a>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Comptes employés</h2>
                            <h6 class="fw-bold my-3">Créer ou supprimer des comptes employés</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <a class="btn btn-primary" href="/employes" >Gérer</a>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Horaires</h2>
                            <h6 class="fw-bold my-3">Modifier les horaires d'ouverture/fermeture</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <h6 class="fw-bold my-3">Cliquer sur le jour en pied-de-page</h6>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Messages</h2>
                            <h6 class="fw-bold my-3">Consulter vos messages laissés via le formlaire de contact</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <a class="btn btn-primary" href="/messages" >Consulter</a>
                        </div>
                    </div>
                {% else %}

                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Véhicules</h2>
                            <h6 class="fw-bold my-3">Ajouter, modifier ou supprimer un véhicule d'occasion</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <a class="btn btn-primary" href="/occasions" >Administrer les occasions</a>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2 class="fw-bold ">Avis client</h2>
                            <h6 class="fw-bold my-3">Ajouter un avis client</h6>
                        </div>
                        <div class="col-md-8 col-xl-6 text-center d-flex justify-content-around align-items-center mx-auto">
                            <a class="btn btn-primary" href="/avis" >Avis</a>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold my-5">Vous n'êtes pas connecté</h2>
                    <a class="btn btn-primary" href="/login" >Se connecter</a>
                </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{{ include('footer.html.twig') }}
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="assets/js/bold-and-bright.js"></script>
</body>

</html>